################################
# .NET
################################

bin/
obj/
*.user
*.suo
*.userprefs
*.csproj.user
*.vs/
.vscode/

################################
# Logs
################################

*.log
logs/

################################
# OS junk
################################

.DS_Store
Thumbs.db

################################
# Docker
################################

*.env
.env
.env.*

################################
# Terraform
################################

**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json
terraform.tfplan

################################
# Local tooling
################################

.idea/
*.swp

################################
# Test artifacts
################################

TestResults/
coverage/

################################
# Secrets
################################

secrets.json
appsettings.Development.json